/* Variables */

:root {
  --secondary-clr: #f0a500;
  --primary-clr: #082032;
}

/* Universal reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General selectors */

html {
  overflow-x: hidden;
}

body {
  background: var(--primary-clr);
  background: linear-gradient(
    -178deg,
    var(--secondary-clr) 0%,
    var(--primary-clr) 5%,
    var(--primary-clr) 95%,
    var(--secondary-clr) 100%
  );
  color: var(--secondary-clr);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  opacity: 1;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.7;
}

p {
  margin-bottom: 20px;
}

/* Header styles */
/* See IDs below for split-text effect */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 50px 30px;
}

header h1 {
  font-size: 3.5rem;
  position: relative;
  top: -45px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

header nav ul li {
  display: inline;
  font-size: 2rem;
  padding-right: 15px;
}

header nav ul li a {
  color: var(--primary-clr);
  text-decoration: none;
  transition: opacity 0.2s;
}

header nav ul li a:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* Invisible h1 to enforce spacing against navbar */

header h1:nth-child(2) {
  display: inline-block;
  position: relative;
  visibility: hidden;
  white-space: nowrap;
}

/* Main and general section styles */

main {
  padding: 60px 0 100px 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 80px 0;
}

section h2 {
  flex: 1.2;
}

section article {
  flex: 10;
}

/* Horizontal rule above each section */

section:before {
  content: '';
  background-color: var(--secondary-clr);
  bottom: 20px;
  height: 1px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/* Vertical rule between each section h2 and article */

.side-wall {
  background-color: var(--secondary-clr);
  margin: -40px 15px;
  width: 1px;
  height: 250px;
}

/* About section styles */

#profile-image {
  border: solid 1px var(--secondary-clr);
  border-radius: 5%;
  display: inline;
  float: right;
  margin: 5px 20px;
  width: 250px;
}

/* Projects section styles with grid template */

#projects article {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
}

.big-project {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.big-project-image {
  border: solid 1px var(--secondary-clr);
  border-radius: 2%;
  opacity: 1;
  width: 100%;
}

.big-project-caption {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 1.1rem;
  position: relative;
  bottom: 120px;
  left: 1px;
  padding: 5px 10px;
  width: 99.6%;
}

#projects article div {
  transition: opacity 0.3s;
}

#projects article div:hover {
  opacity: 0.85;
}

.smaller-project-image {
  border: solid 1px var(--secondary-clr);
  border-radius: 5%;
  opacity: 1;
  width: 100%;
}

.smaller-project-caption {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
  position: relative;
  bottom: 115px;
  left: 1px;
  padding: 5px 10px;
  width: 99.5%;
}

/* Contact section styles */

#contact article ul {
  list-style-type: none;
}

#contact article ul li {
  display: flex;
  margin-bottom: 15px;
}

#contact article ul li span {
  width: 150px;
}

/* Resume styles */

.center-text {
  text-align: center;
}

.resume-header {
  margin: 35px 0 10px 0;
}

#resume article ul {
  margin-left: 45px;
}

#resume article h4 {
  margin-top: 15px;
}

/* Footer styles */

footer {
  padding: 150px 40px 10px 40px;
}

footer p {
  color: var(--primary-clr);
  font-size: 1.4rem;
  text-align: center;
}

/* Container class to create left-right spacing on larger screens */

.container {
  margin: 0 auto;
  width: 920px;
}

/* Create split-text effect in header */

header h1 span {
  position: absolute;
}

#bran {
  clip-path: inset(0% 0% 31% 0%);
  color: black;
  left: 0px;
  top: 0px;
}

#james {
  clip-path: inset(50% -1% -5% -15%);
  color: var(--primary-clr);
  left: 60px;
  top: 17px;
  text-shadow: 1px 1px black;
}

#headspace {
  background-color: black;
  border-radius: 25% 50% 25% 50%;
  height: 5px;
  position: absolute;
  top: 52px;
  width: 22rem;
  z-index: 1;
}

#web {
  color: var(--primary-clr);
  clip-path: inset(0% 0% 27% 0%);
  left: 205px;
  top: 0px;
  text-shadow: 1px 1px black;
}

#dev {
  color: black;
  clip-path: inset(50% -1% -5% -15%);
  left: 248px;
  top: 17px;
}

/* Media queries */

/* Styles for medium-sized screens of < 980px */

@media screen and (max-width: 980px) {
  header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }

  header h1 {
    margin: 27px 0 -37px 0;
  }

  header nav ul li {
    margin-top: 5px;
    padding-right: 15px;
  }

  header nav ul li a {
    color: black;
  }

  .container {
    width: 95vw;
  }

  /* Issue: A negative margin-bottom is the only way I've been able to eliminate the gap beneath the projects grid map? */

  #projects article {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(5, 16%);
    margin-bottom: -300px;
  }

  .big-project-image {
    width: 100%;
  }

  .big-project-caption {
    width: 99.7%;
  }

  .smaller-project-image {
    width: 100%;
  }

  .smaller-project-caption {
    width: 99.2%;
  }
}

/* Styles for smaller screens like tablets < 768px */

@media screen and (max-width: 784px) {
  .smaller-project-caption {
    font-size: 0.8rem;
  }
}

/* Styles for very small screens, mobile phones < 575px */

@media screen and (max-width: 575px) {
  body {
    background: linear-gradient(
      -180deg,
      var(--secondary-clr) 0%,
      var(--primary-clr) 3.5%,
      var(--primary-clr) 96%,
      var(--secondary-clr) 100%
    );
    font-size: 1rem;
  }

  header {
    padding: 25px 0 0 0;
  }

  header h1 span {
    display: none;
  }

  #headspace {
    display: none;
  }

  header h1:nth-child(2) {
    color: var(--primary-clr);
    visibility: visible;
  }

  header nav ul li {
    font-size: 1.4rem;
    margin-top: -15px;
    padding-right: 3px;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  section h2 {
    margin-bottom: 25px;
  }

  .side-wall {
    display: none;
  }

  #profile-image {
    width: 150px;
  }

  /* Issue: A negative margin-bottom is the only way I've been able to eliminate the gap beneath the projects grid map? */

  #projects article {
    grid-template-columns: repeat(2, 43%);
    grid-template-rows: repeat(5, 13%);
    grid-gap: 32px;
    margin-bottom: -400px;
  }

  .big-project-image,
  .smaller-project-image {
    opacity: 1;
  }

  .big-project-caption {
    width: 99.5%;
  }

  .smaller-project-caption {
    bottom: 135px;
    font-size: 0.7rem;
    width: 99%;
  }
}
