/* Variables */

:root {
  --primary-clr: #022c43;
  --secondary-clr: #ffd700;
  --accent-clr-1: #053f5e;
  --accent-clr-2: #115173;
}

/* Universal reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General selectors */

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

a {
  color: inherit;
}

/* Header styles */
/* See IDs below for split-text effect */

header {
  background: rgb(255, 215, 0);
  background: linear-gradient(
    180deg,
    var(--secondary-clr) 0%,
    var(--accent-clr-1) 100%
  );
  padding: 10px 40px 50px 40px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div h1 {
  font-size: 3.5rem;
  position: relative;
  top: -45px;
}

header div h1:nth-child(2) {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  visibility: hidden;
}

header div h1 span {
  position: absolute;
}

header div nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header div nav ul li {
  display: inline;
  font-size: 2.2rem;
  padding: 0 15px;
}

header div nav ul li:first-child {
  margin-left: 0;
}

header div nav ul li a {
  text-decoration: none;
}

/* Main and section styles */

main {
  background-color: var(--accent-clr-1);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0 80px 0;
}

section h2 {
  flex: 1.1;
}

.side-wall {
  background-color: var(--secondary-clr);
  margin: 0 15px;
  width: 1px;
  height: 200px;
}

section h2,
article {
  color: var(--secondary-clr);
}

section article {
  flex: 10;
}

/* About section */

#about article {
  display: flex;
  justify-content: flex-start;
}

#profile-image {
  border: solid 1px var(--secondary-clr);
  border-radius: 5%;
  margin: 0 20px;
  width: 250px;
  float: right;
  display: inline;
}

#about article span p {
  line-height: 1.4;
  margin-bottom: 20px;
}

/* Projects section with grid template */

#projects article {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
}

.big-project {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.big-project-image {
  border: solid 1px var(--secondary-clr);
  border-radius: 2%;
  opacity: 0.75;
  width: 550px;
  transition: opacity 0.3s;
}

.big-project-caption {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1.1rem;
  position: relative;
  bottom: 120px;
  left: 1px;
  padding: 5px 10px;
  width: 518px;
}

#projects article div:hover .big-project-image {
  opacity: 1;
}

.smaller-project {
  border: solid 1px var(--secondary-clr);
  border-radius: 5%;
  opacity: 0.75;
  width: 250px;
  transition: opacity 0.3s;
}

.smaller-project-image {
  border: solid 1px var(--secondary-clr);
  border-radius: 5%;
  opacity: 0.75;
  width: 250px;
  transition: opacity 0.3s;
}

.smaller-project-caption {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  position: relative;
  bottom: 115px;
  left: 1px;
  padding: 5px 10px;
  width: 248px;
}

#projects article div:hover .smaller-project-image {
  opacity: 1;
}

/* Contact section styles */

#contact article ul {
  list-style-type: none;
}

#contact article ul li {
  display: flex;
  margin-bottom: 15px;
}

#contact article ul li span {
  width: 150px;
}

/* Footer styles */

footer {
  background: rgb(255, 215, 0);
  background: linear-gradient(
    180deg,
    var(--accent-clr-1) 0%,
    var(--secondary-clr) 100%
  );
  padding: 10px 40px;
}

footer p {
  color: var(--accent-clr-1);
  font-size: 1.4rem;
  text-align: center;
}

/* Container class to create left-right space on larger screens */

.container {
  margin: 0 auto;
  width: 1000px;
}

/* IDs to create split-text effect in header */

#bran {
  clip-path: inset(0% 0% 27% 0%);
  left: 0px;
  top: 0px;
}

#james {
  color: var(--accent-clr-2);
  clip-path: inset(50% -1% -5% -15%);
  left: 60px;
  top: 17px;
  text-shadow: 1px 1px black;
}

#headspace {
  background-color: black;
  border-radius: 25% 50% 25% 50%;
  height: 5px;
  width: 20rem;
  position: absolute;
  top: 52px;
  z-index: 1;
}

#web {
  color: var(--accent-clr-2);
  clip-path: inset(0% 0% 27% 0%);
  top: 0px;
  left: 205px;
  text-shadow: 1px 1px black;
}

#dev {
  clip-path: inset(52% -1% -5% -15%);
  left: 248px;
  top: 17px;
}
